body{
  background: url('https://i.imgur.com/U0Y2pqS.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.navbar {
  background: rgba(0,0,0,.7);
}

input[type=submit]{
  background: red;
  margin: 5px;
  border: black 1px solid;
}
input[type=submit]:hover {
  background: rgba(0, 0, 0, 0.5);
  border: black 1px solid;
}

.container {
  border: black 2px solid;
  height: 92vh;
  margin-top: 10px;
  background: rgba(0,0,0,.7);
}

.content{
  height: 75vh;
  margin: 10px;
  background: rgba(255,255,255,.5);
  text-align: center;
}

img{
  width: 90%;
  height: 50%;
  border: black 1px solid;

}
